* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.red {
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table thead {
    color: white;
    background-color: #445069;
}

table tr td, table th {
    padding: 10px;
}

td.action {
    text-align: center;
    width: 20%;
}

td:nth-child(1) {
    width: 5%;
}

table tr td img {
    display: inline-block;
    width: 150px;
}

.btn, button.btn {
    text-decoration: none;
    border: none;
    padding: 10px;
    font-size: 1rem;
    display: inline-block;
}

.primary {
    background-color: rgb(93, 93, 238);
    color: white;
}

.success {
    background-color: green;
    color: white;
}

.danger {
    background-color: rgb(255, 51, 51);
    color: white;
}

header {
    width: 100vw;
    padding: 20px;
    background-color: #445069;
    color: white;
    position: fixed;
    top: 0;
    max-width: 100%;
}

header .header-content {
    /* width: 80vw; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header .header-content nav {
    display: flex;
    align-items: center;
}

header .header-content nav a {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
}

.content {
    /* display: grid; */
    /* grid-template-columns: auto 80vw; */
    margin-top: 12vh;
}

aside {
    float: left;
    background-color: #f1f1f1;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    padding-top: 12vh;
    z-index: -1;
}

aside a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    padding: 20px 25px;
    color: black;
}

aside a.active {
    background-color: rgb(93, 93, 238);
    color: white;
}

main {
    float: right;
    width: 80vw;
    padding: 25px 30px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form {
    width: 60%;
    margin: auto;
}

.input-group {
    margin: 10px 0;
}

.input-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.input-group input, .input-group textarea, .input-group select {
    border: 1px solid black;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
}

.input-group img {
    display: block;
    width: 60%;
    margin: 20px auto;
}

.input-group .input-radio {
    display: inline-block;
}

.input-group .input-radio input[type="radio"], .input-group .input-radio label {
    display: inline-block;
    width: auto !important;
}